// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.nv-perfomance {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 0px 0px 15px 15px;
}

.btn-search, .btn-tweetear {border: 2px solid black
}

.user-photo {
    width: 50px; border-radius: 150%
}

body {
    background-color: rgb(180, 180, 180);
    padding-top: 3em
}

a {
    text-decoration: none !important;
}

.nav-item:hover {
    text-decoration-line: underline;
}

.tweet-container {
    box-shadow: 10px 10px 10px -6px black;
    border-radius: 25px;
    border: 2px solid black
}

.tweet-contain {
    box-shadow: 0px 0px 5px 1px black;
    border: 2px solid black;
    border-radius: 10px
}

.set-photo {
    width: 100px;
    border-radius: 250%
}

.card-body {
    border-radius: 10px;
    border: 2px solid black
}